*{
	margin:0px;
}

.navbar{
	height:80px;
	width:100%;
	background:rgba(0,0,0,0.4);
}

.navbar ul{
	float:right;
	margin-right:20px;
}

.navbar ul li{
	display:inline-block;
	list-style:none;
	margin:0px 8px;
	line-height:80px;
}

a{
	text-decoration:none;
	color:white;
	font-size:20px;
	font-family:sans-serif;
	transition:0.3s;
	padding:6px 12px;
}

a:hover{
	background:tomato;
}

.btn-1{
	background:#1569C7;
}

.btn-2{
	background:#00AFF0;
}

.btn-3{
	background:#2E8B57;
}

.info{
	text-align:center;
	margin:0px;
	padding:0px;
	font-size:20px;
}

th{
	font-size:20px;
	padding:5px;
	text-decoration:underline;
}

b{
	font-size:25px;
}

hr{
	margin-top:150px;
	margin-bottom:50px;
}

form{
	padding:20px;
}

label{
	padding:10px;
	margin:10px;
}

.firstname{
	margin-bottom:10px;
	width:450px;
	height:30px;
}

.lastname{
	margin-bottom:10px;
	width:450px;
	height:30px;
}

.contactus{
	margin-bottom:10px;
	width:300px;
	height:30px;
}

.mail{
	margin-bottom:10px;
	width:450px;
	height:30px;
}

.send{
	background:#3b5998;
	padding:10px;
	color:white;
}